################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vscode
/.vs/aspnetcore_homework
/aspnetcore_homework/bin/Debug/netcoreapp3.1
/aspnetcore_homework/obj
